CODEOWNERS @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou 
MAINTAINERS.md @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou
Caliptra_WG_Technical_Charter.md @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou
LICENSE @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou
