CaliptraChecklistAndEvaluationMethodology.md @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou @ericeilertson @JohnTraverAmd @syncsrc-nv @zhalvorsen
CaliptraTrademarkAuditProcess.md @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou @ericeilertson @JohnTraverAmd @syncsrc-nv @zhalvorsen
CaliptraTrademarkPolicy.md @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou @ericeilertson @JohnTraverAmd @syncsrc-nv @zhalvorsen
CaliptraWGTechnicalCharter.md @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou
CODEOWNERS @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou
LICENSE @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou
MAINTAINERS.md @andreslagarcavilla @Bryankel @Jhprabhu @nvpachou
